@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.App{
    width: 100vw;
    height:100vh;
    display:flex;
    overflow:hidden;
    position: relative;;
    font-family: 'Poppins', sans-serif;
}
.footerBottom{
    position: absolute;
    bottom:0;
    height:4rem;
    width: 100vw;
    background-color: #F30050;
    z-index: 400;
}