.item{
    display:flex;
    align-items: center;
    height:80px;
    gap:1rem;
    padding:0 2rem;
    cursor: pointer;
}
.item .icon{
    padding: 0;
    width: 40px;
}
.item .text{
    font-weight: 600;
    font-size: large;
}